.Output { 
    color: #4c4a37; 
    font-family: 'Source Sans Pro', sans-serif; 
    width: 80%;
    border: 1px solid #4c4a37;
    box-shadow: 0 2px 3px #4c4a37 ;
    padding: 18px;
    font-size: 18px; 
    line-height: 32px; 
    margin: 24px 24px 24px 24px; 
}
a{
    color: #E94E1B;
    text-decoration: none;

}
a:hover{
    font-weight: 700;    
}

